@font-face {
  font-family: "myriad";
  src: url("../assets/fonts/MyriadVariableConcept-Roman.otf");
}

@font-face {
  font-family: "myriad-pro-regular";
  src: url("../assets/fonts/MyriadPro-Regular.otf");
}

* {
  font-family: "myriad";
  font-weight: 800;
}

p,
ul,
li,
#temario {
  font-family: "myriad-pro-regular";
}

#temario {
  width: 90%;
  margin: 0 auto;
}

#temario .accordion-button {
  font-weight: 500;
}

#temario .accordion-body {
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* #41C406 #3A3C42 #9CCD62 #F7F8E2 #DFDECA */

header {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1.3s;
  background-color: transparent;
  color: #3a3c42;
  z-index: 10;
  padding: 30px 15px;
  opacity: 0;
  justify-content: space-around;
}

header.sticky {
  background: #3a3c42;
  opacity: 0.9;
  padding: 5px 10px;
}

.navbar {
  width: 100%;
}

.navbar-collapse{
  text-align: center;
}

header.sticky a {
  color: #41c406 !important;
}

.navbar-brand {
  position: relative;
  width: 7rem;
  height: 5rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header a {
  color: #3a3c42 !important;
}

main {
  grid-row: 2 / 3;
}

/* BANNER */

.banner {
  position: relative;
  width: 100%;
  height: 110vh;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  top: 35%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

.banner .title img {
  
  width: 13rem;
    height: 10rem;
}

.custom-shape-divider-bottom-1680999624 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680999624 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 93px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1680999624 .shape-fill {
  fill: #fdfffb;
}

/********** CURSOS **********/


.course-title {
  margin-top: 3rem;
}

.title {
  /* margin-top: 2rem; */
  text-align: center;
}

.title h2 {
  /* margin: 3rem 0 2rem; */
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #41c406;
}

.accordion {
  margin: 3rem auto;
}

.accordion-header {
  text-align: center;
}

.accordion-header .accordion-button {
  /* height: 45vh; */
  color: black;
}

.accordion-item {
  position: relative;
}

.accordion-collapse {
  padding: 1rem;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #42c40690;
}

.accordion-body h2 {
  color: #41c406;
  margin: 2rem 0;
}

#temario-c1 .accordion-body,
#temario-c2 .accordion-body,
#temario-c3 .accordion-body {
  font-weight: 400;
}

#temario-c1 .accordion-collapse,
#temario-c2 .accordion-collapse,
#temario-c3 .accordion-collapse {
  padding: 0;
}

/******** FORMULARIO *********/

.custom-shape-divider-top-1680999895{
  top: -1px !important
}

#contact {
  position: relative;
  width: 100%;
  height: auto;
  padding: 6rem 0rem 2rem;
  color: white;
  background-image: url("../assets/form/1.jpg");
  background-size: cover;
  background-position: center;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#contact h5{
  position: relative
}

.form {
  position: relative;
  border-radius: 10px;
}

.form-content {
  position: relative;
  z-index: 999;
  height: 100%;
}

.form-control {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-bottom: 10px;
  color: white;
  margin-top: 1rem;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus {
  box-shadow: 0 0 5px rgb(102 176 255 / 20%);
  background: #ffffff38;
  color: white;
}

.form textarea{
  background-color: #ffffff38;
}

.submit {
  background-color: #9ccd62;
  border: none;
}

.form-control:focus {
  border-color: white;
}

.form-control::placeholder {
  color: white;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image {
  margin-bottom: 3rem;
}

.custom-shape-divider-top-1680999895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1680999895 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 93px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1680999895 .shape-fill {
  fill: #fdfffb;
}

/****** Whatsapp button *******/
.whatsapp {
  position: fixed;
  width: 4rem;
  height: 4rem;
  margin: 0 0.2rem 0.5rem 0;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* color: rgb(107, 170, 44);
  background-color: white; */
  background-color: rgb(107, 170, 44);
  color: white;
  transition: all 0.2s ease-in-out;
}

.whatsapp:hover {
  color: rgb(107, 170, 44);
  background-color: white;
  border: 1px solid rgb(107, 170, 44);
}

/********** FOOTER ***********/

h3,
h4 {
  color: #41c406;
}

h3 {
  margin-bottom: 2rem;
}

footer {
  grid-row: 3 / 4;
  background-color: #403e3e;
  color: white;
  padding: 3rem 0 1rem;
  height: 7;
  position: relative;
  bottom: 0;
  width: 100%;
  /* background-color: transparent; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

footer a {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c2c3c9;
  margin-bottom: 1rem;
}

footer .redes i {
  margin-right: 0.6rem;
}

footer .instagram {
  color: #d02c85 !important;
}

footer .whatsapp:hover {
  color: #42bc50 !important;
}

footer .linkedin {
  color: #0c60b8 !important;
}

footer .facebook {
  color: #005095 !important;
}

footer .youtube {
  color: #c4302b;
}

footer ul {
  /* margin-left: 8%; */
  margin-bottom: 0;
}

footer li{
  display: flex;
  /* margin-left: 10%; */
}

footer li i{
  width: 1.5rem;
}

footer li a{
  font-size: 1rem;
}

#contact-item {
  width: 100%;
  display: flex;
  text-align: center;
}

.sucursales {
  margin-top: 3rem;
}

#contact-item p {
  margin-bottom: 0.3rem;
}

.gmap {
  width: 50%;
  height: 8rem;
}

.embed-responsive-item {
  width: 100%;
  height: 100%;
}

footer .img-desktop,
footer .img-responsive {
  width: 15rem;
  height: 15rem;
}

.img-responsive-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

footer .img-desktop {
  display: none;
}

footer .img-responsive {
  display: inline-block;
}

.copyright {
  font-weight: 100;
  margin: 0;
  padding: 0 2rem;
}

.copyright a{
  display: inline-block;
  padding-top: 2px;
  transition-duration: .1s;
}

.copyright a:hover{
  color:black
}

@media (min-width: 768px) {
  .banner .title img {
    width: 15rem;
  height: 15rem;
  }

  .banner .title {
    width: 70%;
    flex-direction: row;
  }

  .title h2 {
    font-size: 3rem;
  }

  .footer-container {
    width: 100%;
    flex-direction: row;
  }

  .img-responsive-container {
    display: none;
  }

  .sucursales {
    margin-top: 0;
  }

  footer .img-desktop {
    display: inline-block;
    margin-top: 2rem;
  }

  footer .img-responsive {
    display: none;
  }

  .copyright {
    margin: 2rem 0 0 0;
  }
}
